{% extends 'base.html' %} {% block content %}
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Home</h4>
          <ul>
            {% for i in list_of_names %}
            <p class="text-muted">
              <li>{{i}}</li>
            </p>

            {%endfor%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock content %}
